<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <title>Brandeis Students and Alumni Association</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <a class="main-header__logo" href="/">
        <img class="brandeis-logo" src="https://dbukjj6eu5tsf.cloudfront.net/sidearm.sites/brandeisu.sidearmsports.com/images/responsive_2023/logo_main.png" alt="Brandeis Logo, jump to homepage">
    </a>
    <h1 class="white-text">Welcome to Brandeis Sport Complex</h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
      <ul>
        <a type="text/html" href="/"><li>Home</li></a>
        <a type="text/html" href="/about"><li>About</li></a>
        <a type="text/html" href="jobs"><li>Jobs</li></a>
        <a type="text/html" href="events"><li>Events</li></a>
        <a type="text/html" href="facilities"><li>Facilities</li></a>
        <a type="text/html" href="membership"><li>Membership</li></a>
        <a type="text/html" href="/contact"><li>Contact</li></a>
        <li><%- include('events/_eventsModal') %></li>
        <a href="/chat" class="chat-icon"><li>Live chat</li></a>
        <a href="/users/new"><li>Sign Up</li></a>
        <% if (loggedIn) { %>
        <a href="/users/logout"><li>Sign out</li></a>
        <div
        id="apiToken"
        data-token="<%= currentUser.apiToken %>"
        style="display: none"
      ></div>
        <%} else {%>
        <a href="/users/login"><li>Sign In</li></a>
        <% } %>
      </ul>
    </nav>

    <% if (loggedIn) { %> Logged in as
    <a href="<%=`/users/${currentUser._id}`%>"><%= currentUser.name %> </a>
    <div
    id="apiToken"
    data-token="<%= currentUser.apiToken %>"
    style="display: none"
  ></div>
    <% } %>
    <div class="flashes">
      <% if (flashMessages) { %> <% if (flashMessages.success) { %>
      <div class="flash success"><%= flashMessages.success %></div>
      <% } else if (flashMessages.error) { %>
      <div class="flash error"><%= flashMessages.error %></div>
      <% } %> <% } %>
    </div>
    <%- body%>

    <!-- Footer -->
    <footer>
      <!-- Copyright and Contact Information -->
      <div id="footer-info">
        <p id="credit">&copy; 2023 Brandeis University</p>
      </div>
      <!-- Social Media Buttons - Use the provided link for reference -->
      <!-- <div class="social-media">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div> -->
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/brandeisApp.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>